<table class="min-w-full divide-y">
  <thead>
    <tr>
      <th class="uppercas text-s px-6 py-4 text-left font-medium" , style="color:#800080 ">
        End Blocks with Stairs and/or Slabs
      </th>
      <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Block</th>
      <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Stairs</th>
      <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Slabs</th>
    </tr>
  </thead>
  <tbody class="divide-y">
    <tr>
      <td class="whitespace-nowrap px-6 py-4">End Stone Bricks</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stairs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Slabs ✔</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Purpur Block</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stairs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Slabs ✔</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Purpur Pillar</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">-</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Slabs ✔</td>
    </tr>
  </tbody>
</table>

<table class="min-w-full divide-y">
  <thead>
    <tr>
      <th class="uppercas text-s px-6 py-4 text-left font-medium" , style="color:#800080 ">
        End Materials Without Stairs or Slabs
      </th>
      <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Block</th>
      <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Item</th>
      <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Resource</th>
    </tr>
  </thead>
  <tbody class="divide-y">
    <tr>
      <td class="whitespace-nowrap px-6 py-4">End Stone</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">-</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">-</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Chorus Plant</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">-</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">-</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Chorus Flower</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">-</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Item</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Resource</td>
    </tr>
  </tbody>
  <tr>
    <td class="whitespace-nowrap px-6 py-4">End Rod</td>
    <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">-</td>
    <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Item</td>
    <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">-</td>
  </tr>
</table>
