<!-- Mobs that Drop Food Stuffs -->
<table class="min-w-full divide-y">
  <thead>
    <h3>To minimize duplicates, the mob listed will be the one that drops the greatest variety of items.</h3>
    <tr>
      <th class="text-s px-6 py-4 text-left font-medium uppercase" style="color:#8B0000">Mob Drops</th>
      <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Uncooked</th>
      <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Cooked</th>
      <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Resource</th>
      <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Stack Size</th>
    </tr>
  </thead>
  <tbody class="divide-y">
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Cow</td>
      <td class="whitespace-nowrap px-6 py-4" style="color: green;">Beef</td>
      <td class="whitespace-nowrap px-6 py-4" style="color: green;">Steak</td>
      <td class="whitespace-nowrap px-6 py-4" style="color: green;">Leather</td>
      <td class="whitespace-nowrap px-6 py-4">64</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Pig</td>
      <td class="whitespace-nowrap px-6 py-4" style="color: green;">Porkchop</td>
      <td class="whitespace-nowrap px-6 py-4" style="color: green;">Cooked Porkchop</td>
      <td class="whitespace-nowrap px-6 py-4">-</td>
      <td class="whitespace-nowrap px-6 py-4">64</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Chicken</td>
      <td class="whitespace-nowrap px-6 py-4" style="color: green;">Raw Chicken</td>
      <td class="whitespace-nowrap px-6 py-4" style="color: green;">Cooked Chicken</td>
      <td class="whitespace-nowrap px-6 py-4" style="color: green;">Feather</td>
      <td class="whitespace-nowrap px-6 py-4">64</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Chicken</td>
      <td class="whitespace-nowrap px-6 py-4"></td>
      <td class="whitespace-nowrap px-6 py-4"></td>
      <td class="whitespace-nowrap px-6 py-4" style="color: green;">Egg</td>
      <td class="whitespace-nowrap px-6 py-4">16</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Rabbit</td>
      <td class="whitespace-nowrap px-6 py-4" style="color: green;">Raw Rabbit</td>
      <td class="whitespace-nowrap px-6 py-4" style="color: green;">Cooked Rabbit</td>
      <td class="whitespace-nowrap px-6 py-4" style="color: green;">Rabbit Hide</td>
      <td class="whitespace-nowrap px-6 py-4">64</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Salmon</td>
      <td class="whitespace-nowrap px-6 py-4" style="color: green;">Raw Salmon</td>
      <td class="whitespace-nowrap px-6 py-4" style="color: green;">Cooked Salmon</td>
      <td class="whitespace-nowrap px-6 py-4">-</td>
      <td class="whitespace-nowrap px-6 py-4">64</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Guardian</td>
      <td class="whitespace-nowrap px-6 py-4" style="color: green;">Raw Cod</td>
      <td class="whitespace-nowrap px-6 py-4" style="color: green;">Cooked Cod</td>
      <td class="whitespace-nowrap px-6 py-4" style="color: green;">Prismarine Shard</td>
      <td class="whitespace-nowrap px-6 py-4">64</td>
    </tr>
  </tbody>
</table>

<!-- Mobs that Drop Resources -->
<table class="min-w-full divide-y">
  <thead>
    <tr>
      <th class="text-s px-6 py-4 text-left font-medium uppercase" style="color:#8B0000">Mob Drops/Resource</th>
      <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Resource 1</th>
      <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Resource 2</th>
      <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Stack Size</th>
    </tr>
  </thead>
  <tbody class="divide-y">
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Ghast</td>
      <td class="whitespace-nowrap px-6 py-4" style="color: green;">Ghast Tear</td>
      <td class="whitespace-nowrap px-6 py-4" style="color: green;">Gunpowder</td>
      <td class="whitespace-nowrap px-6 py-4">64</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Skeleton</td>
      <td class="whitespace-nowrap px-6 py-4" style="color: green;">Bone</td>
      <td class="whitespace-nowrap px-6 py-4" style="color: green;">Arrow</td>
      <td class="whitespace-nowrap px-6 py-4">64</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Enderman</td>
      <td class="whitespace-nowrap px-6 py-4" style="color: green;">Ender Pearl</td>
      <td class="whitespace-nowrap px-6 py-4">-</td>
      <td class="whitespace-nowrap px-6 py-4">16</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Wither Skeleton</td>
      <td class="whitespace-nowrap px-6 py-4" style="color: green;">Wither Skeleton Skull</td>
      <td class="whitespace-nowrap px-6 py-4" style="color: green;">Coal</td>
      <td class="whitespace-nowrap px-6 py-4">64</td>
      <tr>
        <td class="whitespace-nowrap px-6 py-4">Wither</td>
        <td class="whitespace-nowrap px-6 py-4" style="color: green;">Nether Star</td>
        <td class="whitespace-nowrap px-6 py-4" style="color: green;"
          >Wither Rose <br /> (drop of mob killed by wither)</td
        >
        <td class="whitespace-nowrap px-6 py-4">64</td>
      </tr>
    </tr>
  </tbody>
</table>
