<table class="min-w-full divide-y">
  <thead>
    <tr>
      <th class="uppercas text-s px-6 py-4 text-left font-medium" , style="color:#8B0000"
        >Nether Materials Without Stairs or Slabs</th
      >
      <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Block</th>
      <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Item</th>
      <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Resource</th>
    </tr>
  </thead>
  <tbody class="divide-y">
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Netherrack</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">-</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">-</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Nether Gold Ore</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">-</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Resource</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Nether Quartz Ore</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">-</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Resource</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Chiseled Quartz</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">-</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">-</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Quartz Pillar</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">-</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">-</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Crimson Stem</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">-</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">-</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Warped Stem</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">-</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">-</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Nether Wart Block</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">-</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">-</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Weeping Vines</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">-</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Item</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">-</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Twisting Vines</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">-</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Item</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">-</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Crimson Roots</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">-</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Item</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">-</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Warped Roots</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">-</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Item</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">-</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Nether Wart</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">-</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Item</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">-</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Blackstone</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">-</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">-</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Gilded Blackstone</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">-</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">-</td>
    </tr>
  </tbody>
</table>
