<table>
  <thead>
    <p>Green = Supported, Red = Unsupported</p>
    <tr>
      <th class="text-s px-6 py-4 text-left font-medium uppercase" style="color:#8B0000">Resource</th>
      <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Item 1</th>
      <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Item 2</th>
      <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Item 3</th>
    </tr>
  </thead>
  <tbody class="divide-y">
    <!-- Iron -->
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Iron</td>
      <td class="whitespace-nowrap px-6 py-4" style="color: red;">Nugget</td>
      <td class="whitespace-nowrap px-6 py-4" style="color: green;">Ingot</td>
      <td class="whitespace-nowrap px-6 py-4" style="color: green;">Block</td>
    </tr>
    <!-- Gold -->
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Gold</td>
      <td class="whitespace-nowrap px-6 py-4" style="color: red;">Nugget</td>
      <td class="whitespace-nowrap px-6 py-4" style="color: green;">Ingot</td>
      <td class="whitespace-nowrap px-6 py-4" style="color: green;">Block</td>
    </tr>
    <!-- Diamond -->
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Diamond</td>
      <td class="whitespace-nowrap px-6 py-4">-</td>
      <td class="whitespace-nowrap px-6 py-4" style="color: green;">Diamond</td>
      <td class="whitespace-nowrap px-6 py-4" style="color: green;">Block</td>
    </tr>
    <!-- Copper -->
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Copper</td>
      <td class="whitespace-nowrap px-6 py-4">-</td>
      <td class="whitespace-nowrap px-6 py-4" style="color: green;">Ingot</td>
      <td class="whitespace-nowrap px-6 py-4" style="color: green;">Block</td>
    </tr>
    <!-- Emerald -->
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Emerald</td>
      <td class="whitespace-nowrap px-6 py-4">-</td>
      <td class="whitespace-nowrap px-6 py-4" style="color: green;">Emerald</td>
      <td class="whitespace-nowrap px-6 py-4" style="color: green;">Block</td>
    </tr>
    <!-- Lapis -->
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Lapis</td>
      <td class="whitespace-nowrap px-6 py-4">-</td>
      <td class="whitespace-nowrap px-6 py-4" style="color: green;">Lapis Lazuli</td>
      <td class="whitespace-nowrap px-6 py-4" style="color: green;">Block</td>
    </tr>
  </tbody>
</table>
