<table>
  <thead>
    <p>Green = Supported, Red = Unsupported</p>
    <tr>
      <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Stone Type</th>
      <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Block</th>
      <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Stairs</th>
      <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Slabs</th>
    </tr>
  </thead>
  <tbody class="divide-y">
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Stone</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Block ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Stairs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Slabs ✔</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Stone Brick</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Block ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Stairs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Slabs ✔</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Mossy Stone Brick</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Block ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Stairs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Slabs ✔</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Cracked Stone Brick</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Block ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Stairs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Slabs ✔</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Chiseled Stone Brick</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Block ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">Stairs ✘</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">Slabs ✘</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Deepslate</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Block ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Stairs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Slabs ✔</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Deepslate Brick</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Block ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Stairs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Slabs ✔</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Cracked Deepslate Brick</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Block ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Stairs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Slabs ✔</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Chiseled Deepslate</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Block ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">Stairs ✘</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">Slabs ✘</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Andesite</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Block ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Stairs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Slabs ✔</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Polished Andesite</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Block ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Stairs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Slabs ✔</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Diorite</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Block ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Stairs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Slabs ✔</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Polished Diorite</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Block ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Stairs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Slabs ✔</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Granite</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Block ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Stairs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Slabs ✔</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Polished Granite</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Block ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Stairs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Slabs ✔</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Calcite</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Block ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">Stairs ✘</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">Slabs ✘</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Tuff</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#32CD32">Block ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">Stairs ✘</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">Slabs ✘</td>
    </tr>
  </tbody>
</table>
