<table class="min-w-full divide-y">
  <thead class="bg-gray-50">
    <tr>
      <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Wood Type</th>
      <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Block</th>
      <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Stairs</th>
      <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Slabs</th>
      <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Logs</th>
      <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Stripped Logs</th>
      <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Saplings</th>
    </tr>
  </thead>
  <tbody class="divide-y">
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Oak</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stairs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Slabs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Logs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stripped Logs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Saplings ✔</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Spruce</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stairs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Slabs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Logs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stripped Logs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Saplings ✔</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Birch</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stairs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Slabs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Logs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stripped Logs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Saplings ✔</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Jungle</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stairs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Slabs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Logs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stripped Logs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Saplings ✔</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Acacia</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stairs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Slabs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Logs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stripped Logs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Saplings ✔</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Dark Oak</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stairs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Slabs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Logs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stripped Logs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Saplings ✔</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Warped</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stairs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Slabs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Logs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stripped Logs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Saplings ✔</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-6 py-4">Crimson</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stairs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Slabs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Logs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stripped Logs ✔</td>
      <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Saplings ✔</td>
    </tr>
  </tbody>
</table>
