---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import { Accordion, AccordionItem } from 'accessible-astro-components'
---

<DefaultLayout title="Supported Items">
  <section class="my-12">
    <div class="space-content container">
      <h1>Currently Supported Items</h1>
      <p>this is still a work in progress and will be updated</p>
    </div>
  </section>

  <section class="mb-12 mt-32">
    <div class="container">
      <Accordion>
        <AccordionItem header="Wood Types">
          <h2></h2>
          <table class="min-w-full divide-y">
            <thead class="bg-gray-50">
              <tr>
                <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Wood Type</th
                >
                <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Block</th>
                <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Stairs</th>
                <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Slabs</th>
                <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Logs</th>
                <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500"
                  >Stripped Logs</th
                >
                <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Saplings</th>
              </tr>
            </thead>
            <tbody class="divide-y">
              <tr>
                <td class="whitespace-nowrap px-6 py-4">Oak</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stairs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Slabs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Logs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stripped Logs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Saplings ✔</td>
              </tr>
              <tr>
                <td class="whitespace-nowrap px-6 py-4">Spruce</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stairs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Slabs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Logs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stripped Logs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Saplings ✔</td>
              </tr>
              <tr>
                <td class="whitespace-nowrap px-6 py-4">Birch</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stairs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Slabs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Logs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stripped Logs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Saplings ✔</td>
              </tr>
              <tr>
                <td class="whitespace-nowrap px-6 py-4">Jungle</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stairs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Slabs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Logs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stripped Logs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Saplings ✔</td>
              </tr>
              <tr>
                <td class="whitespace-nowrap px-6 py-4">Acacia</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stairs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Slabs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Logs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stripped Logs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Saplings ✔</td>
              </tr>
              <tr>
                <td class="whitespace-nowrap px-6 py-4">Dark Oak</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stairs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Slabs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Logs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stripped Logs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Saplings ✔</td>
              </tr>
              <tr>
                <td class="whitespace-nowrap px-6 py-4">Warped</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stairs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Slabs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Logs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stripped Logs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Saplings ✔</td>
              </tr>
              <tr>
                <td class="whitespace-nowrap px-6 py-4">Crimson</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stairs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Slabs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Logs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stripped Logs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Saplings ✔</td>
              </tr>
            </tbody>
          </table>
        </AccordionItem>
        <!-- Stone Types -->
        <AccordionItem header="Stone Types">
          <h2></h2>
          <table class="min-w-full divide-y">
            <thead class="bg-gray-50">
              <tr>
                <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500"
                  >Stone Type</th
                >
                <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Block</th>
                <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Stairs</th>
                <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Slabs</th>
              </tr>
            </thead>
            <tbody class="divide-y">
              <tr>
                <td class="whitespace-nowrap px-6 py-4">Stone</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stairs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Slabs ✔</td>
              </tr>
              <tr>
                <td class="whitespace-nowrap px-6 py-4">Stone Brick</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stairs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Slabs ✔</td>
              </tr>
              <tr>
                <td class="whitespace-nowrap px-6 py-4">Mossy Stone Brick</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stairs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Slabs ✔</td>
              </tr>
              <tr>
                <td class="whitespace-nowrap px-6 py-4">Cracked Stone Brick</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stairs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Slabs ✔</td>
              </tr>
              <tr>
                <td class="whitespace-nowrap px-6 py-4">Chiseled Stone Brick</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">Stairs ✘</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">Slabs ✘</td>
              </tr>
              <tr>
                <td class="whitespace-nowrap px-6 py-4">Deepslate</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stairs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Slabs ✔</td>
              </tr>
              <tr>
                <td class="whitespace-nowrap px-6 py-4">Deepslate Brick</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stairs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Slabs ✔</td>
              </tr>
              <tr>
                <td class="whitespace-nowrap px-6 py-4">Cracked Deepslate Brick</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stairs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Slabs ✔</td>
              </tr>
              <tr>
                <td class="whitespace-nowrap px-6 py-4">Chiseled Deepslate</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">Stairs ✘</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">Slabs ✘</td>
              </tr>
              <tr>
                <td class="whitespace-nowrap px-6 py-4">Andesite</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stairs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Slabs ✔</td>
              </tr>
              <tr>
                <td class="whitespace-nowrap px-6 py-4">Polished Andesite</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stairs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Slabs ✔</td>
              </tr>
              <tr>
                <td class="whitespace-nowrap px-6 py-4">Diorite</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stairs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Slabs ✔</td>
              </tr>
              <tr>
                <td class="whitespace-nowrap px-6 py-4">Polished Diorite</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stairs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Slabs ✔</td>
              </tr>
              <tr>
                <td class="whitespace-nowrap px-6 py-4">Granite</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stairs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Slabs ✔</td>
              </tr>
              <tr>
                <td class="whitespace-nowrap px-6 py-4">Polished Granite</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Stairs ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Slabs ✔</td>
              </tr>
              <tr>
                <td class="whitespace-nowrap px-6 py-4">Calcite</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">Stairs ✘</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">Slabs ✘</td>
              </tr>
              <tr>
                <td class="whitespace-nowrap px-6 py-4">Tuff</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">Block ✔</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">Stairs ✘</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">Slabs ✘</td>
              </tr>
            </tbody>
          </table>
        </AccordionItem>

        <!-- Dyed Items -->
        <AccordionItem header="Dyed Items">
          <h2></h2>
          <table class="min-w-full divide-y" style="background-color:#000000">
            <thead class="bg-gray-50">
              <tr>
                <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Color</th>
                <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Dye</th>
                <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Wool</th>
                <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Glass</th>
                <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500"
                  >Glass-Pane</th
                >
                <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Concrete</th>
                <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500"
                  >Concrete-Powder</th
                >
                <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500"
                  >Terracotta</th
                >
                <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Supported</th
                >
              </tr>
            </thead>
            <tbody class="divide-y">
              <tr>
                <td class="whitespace-nowrap px-6 py-4" style="color:#F5F5F5">White</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#F5F5F5">Dye</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#F5F5F5">Wool</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#F5F5F5">Glass</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#F5F5F5">Glass-Pane</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#F5F5F5">Concrete</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#F5F5F5">Concrete-Powder</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#F5F5F5">Terracotta</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">✔</td>
              </tr>
              <tr>
                <td class="whitespace-nowrap px-6 py-4" style="color:#F44336">Red</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#F44336">Dye</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#F44336">Wool</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#F44336">Glass</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#F44336">Glass-Pane</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#F44336">Concrete</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#F44336">Concrete-Powder</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#F44336">Terracotta</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">✔</td>
              </tr>
              <tr>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff00">Green</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff00">Dye</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff00">Wool</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff00">Glass</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff00">Glass-Pane</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff00">Concrete</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff00">Concrete-Powder</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff00">Terracotta</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">✔</td>
              </tr>
              <tr>
                <td class="whitespace-nowrap px-6 py-4" style="color:#0000ff">Blue</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#0000ff">Dye</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#0000ff">Wool</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#0000ff">Glass</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#0000ff">Glass-Pane</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#0000ff">Concrete</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#0000ff">Concrete-Powder</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#0000ff">Terracotta</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">✔</td>
              </tr>
              <tr>
                <td class="whitespace-nowrap px-6 py-4" style="color:#ffff00">Yellow</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#ffff00">Dye</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#ffff00">Wool</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#ffff00">Glass</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#ffff00">Glass-Pane</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#ffff00">Concrete</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#ffff00">Concrete-Powder</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#ffff00">Terracotta</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">✔</td>
              </tr>
              <tr>
                <td class="whitespace-nowrap px-6 py-4" style="color:#d3d3d3">Light Gray</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#d3d3d3">Dye</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#d3d3d3">Wool</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#d3d3d3">Glass</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#d3d3d3">Glass-Pane</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#d3d3d3">Concrete</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#d3d3d3">Concrete-Powder</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#d3d3d3">Terracotta</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">✔</td>
              </tr>
              <tr>
                <td class="whitespace-nowrap px-6 py-4" style="color:#a9a9a9">Dark Gray</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#a9a9a9">Dye</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#a9a9a9">Wool</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#a9a9a9">Glass</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#a9a9a9">Glass-Pane</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#a9a9a9">Concrete</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#a9a9a9">Concrete-Powder</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#a9a9a9">Terracotta</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#FF0000">✘</td>
              </tr>
              <tr>
                <td class="whitespace-nowrap px-6 py-4" style="color:#000000; background-color:#d3d3d3">Black</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#000000; background-color:#d3d3d3">Dye</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#000000; background-color:#d3d3d3">Wool</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#000000; background-color:#d3d3d3">Glass</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#000000; background-color:#d3d3d3">Glass-Pane</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#000000; background-color:#d3d3d3">Concrete</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#000000; background-color:#d3d3d3"
                  >Concrete-Powder</td
                >
                <td class="whitespace-nowrap px-6 py-4" style="color:#000000; background-color:#d3d3d3">Terracotta</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">✔</td>
              </tr>
              <tr>
                <td class="whitespace-nowrap px-6 py-4" style="color:#8b4513">Brown</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#8b4513">Dye</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#8b4513">Wool</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#8b4513">Glass</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#8b4513">Glass-Pane</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#8b4513">Concrete</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#8b4513">Concrete-Powder</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#8b4513">Terracotta</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">✔</td>
              </tr>
              <tr>
                <td class="whitespace-nowrap px-6 py-4" style="color:#ffc0cb">Pink</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#ffc0cb">Dye</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#ffc0cb">Wool</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#ffc0cb">Glass</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#ffc0cb">Glass-Pane</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#ffc0cb">Concrete</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#ffc0cb">Concrete-Powder</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#ffc0cb">Terracotta</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">✔</td>
              </tr>
              <tr>
                <td class="whitespace-nowrap px-6 py-4" style="color:#800080">Purple</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#800080">Dye</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#800080">Wool</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#800080">Glass</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#800080">Glass-Pane</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#800080">Concrete</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#800080">Concrete-Powder</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#800080">Terracotta</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">✔</td>
              </tr>
              <tr>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ffff">Cyan</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ffff">Dye</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ffff">Wool</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ffff">Glass</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ffff">Glass-Pane</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ffff">Concrete</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ffff">Concrete-Powder</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ffff">Terracotta</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">✔</td>
              </tr>
              <tr>
                <td class="whitespace-nowrap px-6 py-4" style="color:#add8e6">Light Blue</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#add8e6">Dye</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#add8e6">Wool</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#add8e6">Glass</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#add8e6">Glass-Pane</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#add8e6">Concrete</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#add8e6">Concrete-Powder</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#add8e6">Terracotta</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">✔</td>
              </tr>
              <tr>
                <td class="whitespace-nowrap px-6 py-4" style="color:#ffa500">Orange</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#ffa500">Dye</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#ffa500">Wool</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#ffa500">Glass</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#ffa500">Glass-Pane</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#ffa500">Concrete</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#ffa500">Concrete-Powder</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#ffa500">Terracotta</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">✔</td>
              </tr>
              <tr>
                <td class="whitespace-nowrap px-6 py-4" style="color:#808080">Gray</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#808080">Dye</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#808080">Wool</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#808080">Glass</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#808080">Glass-Pane</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#808080">Concrete</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#808080">Concrete-Powder</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#808080">Terracotta</td>
                <td class="whitespace-nowrap px-6 py-4" style="color:#00ff2a">✔</td>
              </tr>
            </tbody>
          </table>
        </AccordionItem>
      </Accordion>
    </div>
  </section>
</DefaultLayout>
