---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import { Accordion, AccordionItem } from 'accessible-astro-components'
import Dyed from '../components/Minecraft/Dyed.astro'
import Wood from '../components/Minecraft/Wood.astro'
import Stone from '../components/Minecraft/Stone.astro'
import End from '../components/Minecraft/End.astro'
import End2 from '../components/Minecraft/End2.astro'
import Nether from '../components/Minecraft/Nether.astro'
import Nether2 from '../components/Minecraft/Nether2.astro'
import MobDrops from '../components/Minecraft/MobDrops.astro'
import Resources from '../components/Minecraft/Resources.astro'
// import CraftingMaterials from '../components/Minecraft/CraftingMaterials.astro'
---

<style>
  .overworld {
    color: #00ff00; /* Bright green color */
  }
  .end {
    color: #800080; /* Purple color */
  }
  .nether {
    color: #b22222; /* Dark red color */
  }
</style>

<DefaultLayout title="Supported Items">
  <section class="my-12">
    <div class="space-content container">
      <h1>Currently Supported Items</h1>
      <p>this is still a work in progress and will be updated</p>
    </div>
  </section>

  <section class="mb-12 mt-32">
    <div class="container">
      <!-- Overworld Items -->
      <Accordion>
        <h2 class="overworld">Overworld</h2>
        <AccordionItem header="Wood Types">
          <Wood />
        </AccordionItem>
        <AccordionItem header="Stone Types">
          <Stone />
        </AccordionItem>
        <AccordionItem header="Dyed Items">
          <Dyed />
        </AccordionItem>
      </Accordion>

      <!-- Mob Drops -->
      <Accordion>
        <h2 class="mob-drops" style="color:#FFD700">Resources</h2>
        <AccordionItem header="Mob Drops">
          <MobDrops />
        </AccordionItem>
      </Accordion>

      <!-- Resources -->
      <Accordion>
        <AccordionItem header="Resources">
          <Resources />
        </AccordionItem>
      </Accordion>

      <Accordion>
        <!-- Nether Items -->
        <h2 class="nether">Nether</h2>
        <AccordionItem header="Blocks with Stairs & Slabs">
          <Nether />
        </AccordionItem>
        <AccordionItem header="Blocks & Items">
          <Nether2 />
        </AccordionItem>
      </Accordion>
      <Accordion>
        <!-- End Items -->
        <h2 class="end">End</h2>
        <AccordionItem header="Blocks with Stairs & Slabs">
          <End />
        </AccordionItem>
        <AccordionItem header="Blocks & Items">
          <End2 />
        </AccordionItem>
      </Accordion>
    </div>
  </section>
</DefaultLayout>
