---
const currentYear = new Date().getFullYear()
const username = 'pointlessbish'
---

<footer>
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - <a href={`https://github.com/${username}`}>{username}</a>.
      </p>
    </div>
  </section>
</footer>
