---
import { type CollectionEntry, getCollection } from 'astro:content'

import DefaultLayout from '../../layouts/DefaultLayout.astro'

import Icon from '../../components/Icon.astro'

interface Props {
  entry: CollectionEntry<'changelog'>
}

// This is a dynamic route that generates a page for every Markdown file in src/content/
// Read more about dynamic routes and this `getStaticPaths` function in the Astro docs:
// https://docs.astro.build/en/core-concepts/routing/#dynamic-routes
export async function getStaticPaths() {
  const changelog = await getCollection('changelog')
  return changelog.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<div title={entry.data.title} description={entry.data.description}>
  <div class="stack gap-20">
    <div class="stack gap-15">
      <main class="wrapper">
        <div class="stack content gap-10">
          {entry.data.img && <img src={entry.data.img} alt={entry.data.img_alt || ''} />}
          <div class="content">
            <Content />
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
