---
import Layout from './MDLayout.astro'

const { frontmatter } = Astro.props
---

<Layout title={frontmatter.title}>
  <div class="container">
    <div class="space-content my-12">
      <slot />
    </div>
  </div>
</Layout>
